<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="details container">
        <h2><%= post.title %></h2>

        <div class="content">
            <p><%= post.body %></p>
        </div>

        <a class="delete" data-doc="<%= post._id %>">Delete</a>
    </div>

    <%- include('./partials/footer.ejs') %> 
    
    <script>
        const deleteBtn = document.querySelector('a.delete');

        deleteBtn.addEventListener('click', e => {
            const endpoint = `/posts/${deleteBtn.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE',
            })
            .then( response => response.json())
            .then( data => window.location.href = data.redirect)
            .catch((error) => {
                console.log(error);
            })
        })
    </script>
</body>
</html>