<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>

    <%- include('../partials/nav.ejs') %> 

    <div class="blog-list container">
        <h2>Recent Posts</h2>

        <div class="posts">
            <% if (blogs.length > 0) { %>
                <% blogs.forEach(post => { %>
                    
                    <a href="/posts/<%= post._id %>">
                        <div class="post">
                            <h3 class="post-title"><%= post.title %></h3>
                            <p class="blog-snippet"><%= post.snippet %></p>
                        </div>
                    </a>
    
                <% }); %> 
            <% } else { %>
                <p>No posts found!</p>
            <% } %> 
        </div>
    </div>

    <%- include('../partials/footer.ejs') %> 
    
</body>
</html>